body {
  background: #eee;
}
.container {
  width: 1024px;
  margin: auto;
}
.content {
  display: flex;
}
h1 {
  text-align: center;
  margin: 50px 0;
}
button {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #1890ff;
  border: 0;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 2px;
}

button:focus {
  outline-width: 0;
}

button:hover {
  border-color: #589000;
}
input {
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  border: 1px solid #40a9ff;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  color: red;
  border: 0;
  outline-width: 0;
  border: 1px solid #40a9ff;
}
span {
  width: 100px;
  display: inline-block;
  text-align: right;
}
